
.content{
    padding: 20px;
    background-color: rgb(105, 105, 105);
    color:aliceblue
}
body{
    background-color: rgb(105, 105, 105);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(80, 80, 80);
 }
